%h1 Administrative Users

%table
  %tr
    %th Name
    %th Email
    %th
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      - if user == current_user
        %td= link_to 'edit name/email', user
